<ul id="Tags">
    <% @tags.each do |tag|%>
        <li>
            <%= link_to tag.name, tag_path(tag) %>
            <% if logged_in?%>
                <%= link_to "delete", tag_path(tag), method: :delete, data: {confirm: "Do you really want to delete this tag"}%>
            <% end %>
        </li>
    <% end%>
</ul>